* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #202026;
    border-radius: 2px;
}
  
::-webkit-scrollbar-thumb {
    background: #343740;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #595962;
}

#page-area {
    --width: 480;

    max-width: 480px;
    position: relative;
    overflow: hidden;
    border: 2px solid #202026;
}

@media (max-width: 480px) {
    #page-area {
        --width: 100;

        width: 100vw;
        border: none;
    }
}

body {
    background-color: #0b0b0b;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: grid;
    place-items: center;
}

nav {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 2;
    font-family: monospace;
}

nav .dropdown-menu {
    background: #151515EF;
    position: absolute;
    right: 3rem;
    display: none;
    flex-direction: column;
    gap: .7rem;
    padding: 1rem;
    border: 1px solid #3a3a3c;
    border-radius: 6px;
    translate: 20%;
    opacity: 0;
    overflow: hidden;
    transition: all .25s ease-out;
}

nav .dropdown-menu a {
    text-decoration: none;
    color: #0d88be;
    transition: all .1s linear;
}

nav .dropdown-menu a:hover {
    color: white;
}

#featured-recommended {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#featured-recommended .fr-slider {
    list-style: none;
    display: flex;
    transition: all 1s ease-out;
}

#featured-recommended .fr-item img {
    width: 480px;
    opacity: .9;
}

@media (max-width: 480px) {
    #featured-recommended .fr-item img {
        width: 100vw;
    }
}

#featured-recommended .fr-item-details {
    position: absolute;
    bottom: 0;
    padding: 1.5rem;
    width: 100%;
    background: linear-gradient(to top, #0b0b0b, transparent);
}

#featured-recommended .fr-item-details h3 {
    font-size: 1rem;
    color: #0d88be;
}

#featured-recommended .arrows {
    color: white;
    position: absolute;
    left: 0;
    top: 2.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}

#featured-recommended .arrows span {
    padding: 3rem 2.2rem;
    transition: opacity .2s linear;
}

#featured-recommended .slider-lines {
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}

#featured-recommended .slider-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    transition: all .3s ease-in;
}

#featured-recommended .slider-lines .line.active {
    background: #888888;
}



#search-bar {
    width: 100%;
    padding: .9rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

#search-bar input {
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    border: 1px solid #222;
    border-radius: 4px;
    outline: none;
    background: #111;
    color: #3a3a3c;
    font-size: .9rem;
}

#search-bar span {
    position: absolute;
    right: 2rem;
    scale: .9;
    font-weight: bold;
}



#browse-steam {
    padding: .9rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
} 

#browse-steam div {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: .5rem;
}

#browse-steam div button {
    height: 7rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.794);
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    position: relative;
    transition: all .2s linear;
}

#browse-steam div button:hover {
    background-color: rgba(0, 0, 0, 0.394);
}

#browse-steam div button span {
    font-size: 2rem;
}

#browse-steam div button h2 {
    font-size: 1rem;
    font-weight: 100;
}

#browse-steam div button img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s linear;
}



#browse-games {
    padding: .9rem 1rem;
    background: #0b0b0b;
}

#browse-games .games-nav-bar {
    display: flex;
    gap: .5rem;
}

#browse-games .games-nav-bar span {
    border: 1px solid #1f1f1f;
    border-radius: 20px;
    padding: .44rem .74rem;
    font-size: .79rem;
    font-weight: 900;
    transition: all .1s ease-out;
}

#browse-games .games-nav-bar span.active {
    background: white;
    color: black;
}

#browse-games ul {
    list-style: none;
}

#browse-games .game {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#browse-games .game.model {
    display: none;
}

#browse-games .game img {
    height: 4rem;
    border-radius: 6px;
}

#browse-games .game .details h1 {
    font-size: 1rem;
    font-weight: 600;
}

#browse-games .game .details h3 {
    margin-top: 2px;
    font-size: .8rem;
    font-weight: 500;
    opacity: .8;
}

#browse-games .game .details h5 {
    font-size: .8rem;
    font-weight: 500;

}

#browse-games .game .details h5 span {
    color: #0d88be;
}
